.contenedor{
	background-color: #3B8C2E !important;
	border-radius: 0.3rem;
	color: #eee !important;
}

#slider{
	margin-top: 10px;	
}

#slider img{
	width: 100%;
    box-shadow: 1px 1px 3px 2px #707070;
}

#noticias{
	margin: 0 auto;
	width: 100%;	
	background: #eee;
    
}

#a{
	text-decoration: none !important;
}

.a{
    color: black !important;
}


.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	padding: 2em 0;
}
.nbs-flexisel-ul {
	
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
    display: flex;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:90%;
	margin: 0 auto;
}
.nbs-flexisel-item {
	margin: 0px ;
	padding: 0px;
	cursor: pointer;
	position: relative;
    flex: 1 1 auto;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:32px;
	height:32px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}

.link{
	text-decoration: none !important;
}

.nav-item:hover{
	color: #eee !important;
	background-color: #1d3a6b;
	border-color: #F2B705 !important;
	border-radius: 0.5rem;
}

.nav-link{
	color: rgba(0, 0, 0, 0.452) !important;
}

.nav-link:hover{
	color: #eee !important ;
}

.dropdown-menu{
	background-color: #F2B705 !important;
}

.d-flex{
	align-items: center	;
}

.text-whites{
	color: #eff0f1d2 !important;
}

.dropdown-item:hover{
	background-color: #f3d26e !important;
}

.bg-lights{
	background-color: #d1cfcf !important;
}
